{% load static %}
<html lang="en">
<head>
    {% include 'base/head.html' %}
</head>

<body class="d-flex flex-column min-vh-100">
{% include 'base/header.html' %}

<main class="flex-grow-1">
    {% if messages %}
        <div class="container mt-3">
            {% for message in messages %}
                <div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}info{% endif %} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% block content %}
    <h1>Отсутствует наполнение</h1>
    {% endblock %}
</main>

<footer class="mt-auto">
    {% include 'base/footer.html' %}
</footer>

{% block extra_js %} {% endblock %}
</body>


</html>
